{% extends "base_generic.html" %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div style="max-width: 75%;margin:0px auto;">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-5">
                <img style="margin-top;" src="static/assets/interpharm_budova(2).jpg" alt="Firemná budova" height="" width="">
            </div>
        </div>
    </div>
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Slovenský distribútor liečiv, zdravotníckych pomôcok a zdravotníckej techniky</h1>
                    <p class="lead text-white-50 mb-4">Sme výhradným distribútorom značiek ako Jamieson alebo Microlife.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="zastupujuce-znacky">Všetky zastupujúce značky</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="sluzby">Naše služby</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
