{% extends "base_generic.html" %}

{% block title %}
<title>O nás | INTERPHARM Slovakia, a.s.</title>
{% endblock %}

{% block content %}
<header class="bg-dark py-5">
	<div style="max-width: 75%;margin:0 auto;">
		<div>
		<img style="padding:15px;margin-right" src="static/assets/interpharm_budova(2).jpg" alt="Firemná budova" height="" width="">
		</div>
	<div style="color: #fff;"><h1><strong>O firme</strong></h1></div>
	<div style="color: #fff;">
		Firma INTERPHARM Slovakia, a.s. Bratislava bola založená v roku 2000 pre oblasť obchodu s liekmi, zdravotníckym materiálom, malou zdravotníckou technikou, farmaceutickými surovinami a ďalšieho voľnopredajného a doplnkového sortimentu a má celoslovenskú pôsobnosť. Vznikla odčlenením z firmy Interpharm, spol. s r.o., ktorá bola založená
		v roku 1992 a zahájila svoju činnosť 1.5.2001.
		Distribúcia na celom území Slovenska sa zabezpečuje z Bratislavy, niekoľkých pobočiek a vysunutých pracovísk – Banská Bystrica, Lučenec, Humenné, Ružomberok, Svit. Objednávky a j rozvozy sú zabezpečované vlastnými pracovníkmi a vlastným vozovým parkom.
		<p></p>
		Firma INTERPHARM Slovakia, a.s. je zameraná od začiatku svojho pôsobenia na zásobovanie vybraným sortimentom – OTC produkty, vitamíny, čaje, liečebná kozmetika – predovšetkým do lekární a nemocníc, postupne aj do ambulancií lekárov, kozmetických salónov a tiež maloobchodu, resp. obchodných sietí.
		<p></p>
		V roku 2002 sa firma presťahovala do nových priestorov na Uzbeckú ulicu 18/A a zahájila svoju činnosť novým moderným, operatívnym spôsobom distribúcie z jedného miesta na Slovensku a viacerých medziskladov. Okrem tohto význačného momentu začala akciová spoločnosť aktivizovať svoju orientáciu výraznejšie aj mimo rezort zdravotníctva, predaj vybraného sortimentu predovšetkým na zahraničné obchodné reťazce, domáce obchodné reťazce, elektropredajne, drogérie, ale aj zubných lekárov, nemocnice či kozmetické salóny.
		<p></p>
		Sústavné zvyšovanie kvality služieb, ktoré sme aj do budúcnosti zabezpečili získaním certifikátu manažérstva kvality ISO 9001:2000, predovšetkým pre hlavného odberateľa – lekárne, ale aj pre ďalších odberateľov dáva predpoklad, že nielen firma, ale aj pracovníci pociťujú stabilitu
		a každodennú spokojnosť s vykonanou prácou.
	</div>
	</div>
</header>
{% endblock %}